.wrapper-footer {}

.top-footer {
  background-image: url("../img/footer_bg.jpg");
  background-size: 100%;
  height: 100vh;
  padding: 6rem 0 0;
  background-repeat: no-repeat;
  background-color: #000000;

  @media(max-width: 768px) {
    background-image: none;
    background-color: #000000;
    padding: 4rem 2rem 0;
    height: auto;
  }
}

.copy {
  p {
    color: #707070;
    margin: 2rem auto 0;
    text-align: center;
  }
}


.bottom-footer {
  background-color: #000000;
  background-image: url("../img/mel_footer.png");
  background-position: center bottom;
  background-size: 830px;
  background-repeat: no-repeat;
  height: 500px;

  @media (max-width: 768px) {
    background-size: 400px;
    height: 400px;
  }

  .wrapper-copy {
    padding: 3rem 0;

    @media (max-width: 768px) {
      padding: 4rem 0 0;
    }
  }

  .social {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -80px;

    @media (max-width: 768px) {
      margin: 0;
    }

    a {
      margin: 0 2rem;
    }
  }
}

.wrapper-columns-footer {
  flex-wrap: wrap;

  @media (max-width: 768px) {
    width: 100%;
  }
}