.wrapper-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  transition: background-color ease-in .2s;

  .logo {
    @media(max-width: 768px) {
      display: none;

      &.logo-mobile-centered {
        display: flex;
      }

    }


    svg {
      fill: #ffffff;
    }
  }

  &.moving {
    background-color: #ffffff;

    .logo-mobile-centered svg,
    .logo svg {
      fill: #043e22 !important;
    }

    .address {
      color: #000000;
    }

    .buttons {
      a {
        fill: #393939 !important;
      }
    }
  }
}

header {
  padding: 1.5rem 2rem;

  @media (max-width: 768px) {
    padding: 1.5rem 1rem;
  }
}

.divider.line {
  margin: 0 2rem;
}

.address {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5rem;
}

.buttons {

  @media(max-width: 768px) {
    justify-content: space-between;
    width: 100%;
  }

  a {
    margin: 0 1.5rem;
    fill: #ffffff;
    width: 32px;
    height: 32px;
    display: block;

    @media(max-width: 768px) {
      margin: 0;
    }

    &:last-child {
      margin: 0 0rem 0 5rem;

      @media(max-width: 768px) {
        margin: 0;
      }
    }

    @media(max-width: 768px) {
      &.whatsapp-icon {
        order: 3;

      }

      &.celular-icon {
        order: 4;
        margin: 0 0 0 1rem;
      }

      &.open-menu-icon {
        order: 1;
      }
    }
  }

  .logo-mobile-centered {
    order: 2;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 2rem;
    display: none;
  }
}