@import "header";
@import "footer";
@import "home";
@import "swiper";
@import "mobile_menu";
@import "titles";
@import "accordion";
@import "map";
@import "form";
@import "fade";
@import "parallax";


* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  @media(max-width: 1366px) {
    max-width: 1200px;
  }

  @media(max-width: 1024px) {
    max-width: 900px;
  }
}

.default-button {
  background: none;
  border: none;
  color: #043E22;
  background-color: #ffffff;
  padding: .8rem 3rem;
  border-radius: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
  position: relative;
  z-index: 1;

  &.dark {
    background-color: #393939;
    color: #ffffff;
    padding: .8rem 2rem;
  }
}

.nice-overlay {
  position: absolute;
  z-index: 1;
  right: -30px;
  top: 25%;
  display: flex;
  justify-content: flex-end;

  @media(max-width: 1680px) {
    top: 20%;
  }

  @media(max-width: 768px) {
    top: 26%;
    right: -300px;
  }

  img {
    width: 100%;

    @media(max-width: 1680px) {
      width: 86%;
    }

    @media(max-width: 1440px) {
      width: 75%;
    }

    @media(max-width: 1366px) {
      width: 71%;
    }

    @media(max-width: 768px) {
      width: 94%;
    }
  }
}



@media (max-width: 800px) {
  .wrapper-swiper .slider-info-text {
    top: 100px;
    left: 30px;

    h3 {
      font-size: 4rem;
    }
  }

  .address,
  .divider {
    display: none;
  }

  .cover-image {
    height: 100vh;
  }

  .foot-main-image {
    .social {
      display: none;
    }
  }
}

@media (orientation: landscape) {
  .navigation-module {
    display: none !important;
  }

  .nice-overlay {
    top: 30%;
  }

  .info-brochure {
    padding: 0 0 0 1rem;
  }

  .info-brochure h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .info-bottom-brochure h4 {
    font-size: 1.4rem;
  }

  .info-bottom-brochure p {
    font-size: .7rem;
  }

  .img-info {
    width: 60%;
  }

  .img-info .data-image {
    display: none;
  }

  .img-info .data-image>div {
    padding: 10px;
  }

  .img-info .data-image span.lg {
    font-size: 40px;
    line-height: 35px;
  }



  .wrapper-swiper .slider-info-text {
    top: 50px;
  }

  .wrapper-swiper .slider-info-text h3 {
    font-size: 3rem;
  }


  .wrapper-swiper .slider-info-text .arrow-link {
    margin-top: 50px;
  }

  .pagination-slider {
    margin: 100px 0 0;
  }

  .gallery-thumbs {
    display: none;
  }

  .wrapper-accordion {
    padding: 4rem 2rem;
  }

  .wrapper-info-financiacion {
    padding: 1rem 2rem 2rem;
  }

  .wrapper-info-financiacion .data h2 {
    font-size: 3rem;
  }

  .accordion-body .col.col-image {
    display: none;
  }

  .wrapper-columns-footer .column.form {
    width: 50%;
  }

  .main-container {
    max-width: 725px;
  }

  .bottom-footer {
    height: 700px;
  }

  .bottom-footer .social {
    margin-top: 0px;
  }

  .bottom-footer .wrapper-copy {
    padding: 8rem 0 0rem;
  }
}