.wrapper-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  transition: background-color ease-in .2s; }
  @media (max-width: 768px) {
    .wrapper-header .logo {
      display: none; }
      .wrapper-header .logo.logo-mobile-centered {
        display: flex; } }
  .wrapper-header .logo svg {
    fill: #ffffff; }
  .wrapper-header.moving {
    background-color: #ffffff; }
    .wrapper-header.moving .logo-mobile-centered svg,
    .wrapper-header.moving .logo svg {
      fill: #043e22 !important; }
    .wrapper-header.moving .address {
      color: #000000; }
    .wrapper-header.moving .buttons a {
      fill: #393939 !important; }

header {
  padding: 1.5rem 2rem; }
  @media (max-width: 768px) {
    header {
      padding: 1.5rem 1rem; } }

.divider.line {
  margin: 0 2rem; }

.address {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5rem; }

@media (max-width: 768px) {
  .buttons {
    justify-content: space-between;
    width: 100%; } }
.buttons a {
  margin: 0 1.5rem;
  fill: #ffffff; }
  @media (max-width: 768px) {
    .buttons a {
      margin: 0; } }
  .buttons a:last-child {
    margin: 0 0rem 0 5rem; }
    @media (max-width: 768px) {
      .buttons a:last-child {
        margin: 0; } }
  @media (max-width: 768px) {
    .buttons a.whatsapp-icon {
      order: 3; }
    .buttons a.celular-icon {
      order: 4;
      margin: 0 0 0 1rem; }
    .buttons a.open-menu-icon {
      order: 1; } }
.buttons .logo-mobile-centered {
  order: 2;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 2rem;
  display: none; }

.top-footer {
  background-image: url("../img/footer_bg.jpg");
  background-size: 100%;
  height: 100vh;
  padding: 6rem 0 0;
  background-repeat: no-repeat;
  background-color: #000000; }
  @media (max-width: 768px) {
    .top-footer {
      background-image: none;
      background-color: #000000;
      padding: 4rem 2rem 0;
      height: auto; } }

.copy p {
  color: #707070;
  margin: 2rem auto 0;
  text-align: center; }

.bottom-footer {
  background-color: #000000;
  background-image: url("../img/mel_footer.png");
  background-position: center bottom;
  background-size: 830px;
  background-repeat: no-repeat;
  height: 500px; }
  @media (max-width: 768px) {
    .bottom-footer {
      background-size: 400px;
      height: 400px; } }
  .bottom-footer .wrapper-copy {
    padding: 3rem 0; }
    @media (max-width: 768px) {
      .bottom-footer .wrapper-copy {
        padding: 4rem 0 0; } }
  .bottom-footer .social {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -80px; }
    @media (max-width: 768px) {
      .bottom-footer .social {
        margin: 0; } }
    .bottom-footer .social a {
      margin: 0 2rem; }

.wrapper-columns-footer {
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .wrapper-columns-footer {
      width: 100%; } }

.main-image {
  position: relative;
  height: 100vh; }
  .main-image .bg-image {
    height: 100vh;
    width: 100%;
    object-fit: cover; }

.foot-main-image {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  width: 98%;
  padding: 0 3%; }
  @media (max-width: 768px) {
    .foot-main-image {
      bottom: 150px; } }
  .foot-main-image .social {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .foot-main-image .social a {
      margin: 1rem 0; }
      .foot-main-image .social a img {
        height: 35px; }
  .foot-main-image .navigation-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1; }

.mouse-image {
  width: 30px;
  margin-top: 60px; }
  @media (max-width: 768px) {
    .mouse-image {
      display: none; } }

.cover-image {
  width: 100%;
  object-fit: cover; }
  .cover-image.abs {
    position: absolute;
    z-index: 1; }

.main-container.spaced {
  padding: 5rem 0; }

.wrapper-brochure {
  background-image: url("../img/bg_brochure_2.png");
  background-position: left bottom;
  background-size: 65%;
  background-repeat: no-repeat; }

.wrapper-brochure-bottom {
  position: relative;
  height: 600px; }
  @media (max-width: 1300px) {
    .wrapper-brochure-bottom {
      display: none; } }

.image-brochure-1,
.image-brochure-2,
.image-brochure-3 {
  position: absolute; }
  .image-brochure-1 img,
  .image-brochure-2 img,
  .image-brochure-3 img {
    display: block;
    width: 100%; }

.image-brochure-1 {
  width: 410px;
  height: 224px;
  left: 0; }
  @media (max-width: 1366px) {
    .image-brochure-1 {
      width: 373px; } }

.image-brochure-2 {
  width: 341px;
  height: 442px;
  right: 760px;
  top: -180px;
  z-index: 1; }
  @media (max-width: 1680px) {
    .image-brochure-2 {
      right: 672px; } }
  @media (max-width: 1440px) {
    .image-brochure-2 {
      right: 551px; } }
  @media (max-width: 1366px) {
    .image-brochure-2 {
      right: 498px;
      top: -60px;
      width: 275px; } }

.image-brochure-3 {
  width: 373px;
  height: 239px;
  bottom: 79px;
  right: 340px; }
  @media (max-width: 1680px) {
    .image-brochure-3 {
      right: 300px; } }
  @media (max-width: 1440px) {
    .image-brochure-3 {
      right: 179px; } }
  @media (max-width: 1366px) {
    .image-brochure-3 {
      right: 157px;
      width: 341px;
      bottom: 64px; } }

.info-brochure {
  padding: 0 0rem 0 3rem; }
  @media (max-width: 768px) {
    .info-brochure {
      order: 1;
      width: 100%;
      padding: 0 2rem; } }
  .info-brochure h2 {
    font-size: 5.75rem;
    font-weight: 400;
    line-height: 5.2rem;
    margin-bottom: 2rem; }
    @media (max-width: 1366px) {
      .info-brochure h2 {
        font-size: 4rem;
        line-height: 4rem; } }
    .info-brochure h2 .one {
      color: #043E22; }
    .info-brochure h2 .two {
      color: #81B829; }
  .info-brochure .line {
    margin: 40px 0 40px 10px; }
    @media (max-width: 1366px) {
      .info-brochure .line {
        display: none; } }

.info-bottom-brochure h4 {
  font-weight: 400;
  font-size: 2rem;
  margin: 20px 0;
  color: #043E22; }
.info-bottom-brochure p {
  margin: 2rem 0; }

.desc-brochure-mobile {
  display: none;
  width: 100%;
  text-align: center;
  padding: 0 2rem; }
  @media (max-width: 768px) {
    .desc-brochure-mobile {
      display: block;
      order: 3;
      padding: 2rem 2rem 0; } }
  .desc-brochure-mobile p {
    text-align: left;
    margin: 0 0 3rem; }
    .desc-brochure-mobile p br {
      display: none; }

@media (max-width: 768px) {
  .desc-brochure-desktop {
    display: none; } }

.wrapper-cover-box {
  position: relative;
  height: 100vh; }
  .wrapper-cover-box .centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -100px 0 0 -300px; }
    @media (max-width: 768px) {
      .wrapper-cover-box .centered-box {
        margin: 0;
        left: 0;
        top: 30%; } }
    .wrapper-cover-box .centered-box h2 {
      color: #ffffff;
      font-weight: 400;
      margin: 0;
      font-size: 4rem;
      margin-bottom: 3rem; }

.wrapper-financiacion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .wrapper-financiacion .image-financiacion {
    height: 100vh;
    background-image: url("../img/img-fnanciacion.jpg");
    object-fit: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; }
    @media (max-width: 768px) {
      .wrapper-financiacion .image-financiacion {
        background-size: 235%;
        background-repeat: no-repeat;
        background-position: center;
        height: 80vh; } }
  @media (max-width: 768px) {
    .wrapper-financiacion {
      display: block; }
      .wrapper-financiacion img {
        height: 100vh;
        object-fit: cover; } }

.wrapper-info-financiacion {
  background-color: #ffffff;
  padding: 4rem 3rem 5rem;
  position: absolute;
  z-index: 2;
  bottom: -50px; }
  @media (max-width: 768px) {
    .wrapper-info-financiacion {
      position: relative;
      padding: 2rem 2rem 3rem;
      bottom: 0; } }
  .wrapper-info-financiacion .section-title {
    padding: 0;
    margin: 0 0 2rem 0; }
    .wrapper-info-financiacion .section-title h2 {
      text-align: left; }
  .wrapper-info-financiacion .line {
    margin-right: 2rem; }
    @media (max-width: 768px) {
      .wrapper-info-financiacion .line {
        height: 80px;
        overflow: hidden; } }
  .wrapper-info-financiacion .data h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #043E22; }
    @media (max-width: 768px) {
      .wrapper-info-financiacion .data h2 {
        font-size: 1.8rem; } }
    .wrapper-info-financiacion .data h2 span {
      color: #81B829;
      padding-right: 10px; }

@media (max-width: 1366px) {
  .img-info {
    width: 55%; } }
@media (max-width: 768px) {
  .img-info {
    order: 2;
    width: 100%;
    padding: 0;
    height: auto; } }
.img-info .image {
  position: relative;
  z-index: 3; }
  .img-info .image img {
    width: 100%; }
    @media (max-width: 768px) {
      .img-info .image img {
        width: auto;
        height: 100%;
        object-fit: cover; } }
.img-info .data-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  border-top: 2px solid rgba(255, 255, 255, 0.37); }
  @media (max-width: 768px) {
    .img-info .data-image {
      flex-wrap: wrap;
      border-top: none; } }
  .img-info .data-image > div {
    padding: 30px;
    text-align: center; }
  .img-info .data-image .block1,
  .img-info .data-image .block2 {
    border-right: 2px solid rgba(255, 255, 255, 0.37); }
    @media (max-width: 768px) {
      .img-info .data-image .block1,
      .img-info .data-image .block2 {
        width: 50%; } }
  .img-info .data-image .block3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.37); }
    .img-info .data-image .block3 > div {
      flex: 1;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 768px) {
        .img-info .data-image .block3 > div {
          padding: 20px; } }
  @media (max-width: 768px) {
    .img-info .data-image {
      width: 100%; } }
  .img-info .data-image .bottom-sub-block {
    border-top: 2px solid rgba(255, 255, 255, 0.37);
    font-size: 24px; }
    @media (max-width: 1366px) {
      .img-info .data-image .bottom-sub-block {
        font-size: 20px; } }
  .img-info .data-image span,
  .img-info .data-image p {
    color: #ffffff;
    text-transform: uppercase; }
  .img-info .data-image span.lg {
    font-size: 100px;
    line-height: 90px; }
    @media (max-width: 1366px) {
      .img-info .data-image span.lg {
        font-size: 80px;
        line-height: 75px; } }
  .img-info .data-image span.sm {
    font-size: 40px;
    text-transform: lowercase;
    padding-right: 10px; }
    @media (max-width: 1366px) {
      .img-info .data-image span.sm {
        font-size: 30px; } }
  .img-info .data-image p {
    margin: 10px 0 0; }

.wrapper-swiper {
  position: relative; }
  .wrapper-swiper .slider-info-text {
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 2; }
    @media (max-width: 1366px) {
      .wrapper-swiper .slider-info-text {
        top: 100px;
        left: 100px; } }
    .wrapper-swiper .slider-info-text h3 {
      color: #ffffff;
      font-size: 5rem;
      font-weight: 400; }
      @media (max-width: 1366px) {
        .wrapper-swiper .slider-info-text h3 {
          font-size: 4rem; } }
    .wrapper-swiper .slider-info-text .arrow-link {
      color: #ffffff;
      font-size: 1.3rem;
      margin-top: 80px;
      display: block;
      font-weight: 400;
      letter-spacing: 1px;
      margin-left: 10px; }
      .wrapper-swiper .slider-info-text .arrow-link span {
        padding-right: 10px; }

.num {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.4rem; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  background-size: cover;
  background-position: center; }

.gallery-top {
  height: 100vh;
  width: 100%;
  position: relative; }
  .gallery-top:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url("../img/shadow.png");
    background-position: 0 0;
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat; }

.gallery-thumbs {
  width: 50%;
  height: 40%;
  position: absolute;
  right: -150px;
  padding: 10px 0;
  bottom: 50px; }
  @media (max-width: 1366px) {
    .gallery-thumbs {
      width: 68%;
      right: -250px;
      bottom: 100px; } }
  @media (max-width: 1100px) {
    .gallery-thumbs {
      width: 85%;
      right: -450px; } }

.swiper-progress-bar {
  position: relative;
  width: 100px;
  display: block;
  z-index: 1;
  height: 3px; }
  .swiper-progress-bar .slide_progress-bar {
    position: absolute;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);
    width: auto;
    clear: both;
    opacity: 0;
    left: 0;
    right: 0; }
    .swiper-progress-bar .slide_progress-bar:after {
      position: absolute;
      top: 0;
      left: 0;
      background: #ffffff;
      height: 100%;
      width: 0;
      content: "";
      transition: 0.1s width linear; }
  .swiper-progress-bar.active .slide_progress-bar {
    opacity: 1; }
  .swiper-progress-bar.animate .slide_progress-bar:after {
    transition: width linear;
    transition-delay: unset;
    width: 100%;
    transition-duration: 5s; }

.swiper-button-next,
.swiper-button-prev {
  position: static;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 44px;
  width: 44px;
  margin: 0; }

.swiper-button-next {
  background-image: url("../img/next.svg"); }
  .swiper-button-next:after, .swiper-button-next:before {
    display: none; }

.swiper-button-prev {
  background-image: url("../img/prev.svg"); }
  .swiper-button-prev:after, .swiper-button-prev:before {
    display: none; }

.pagination-slider {
  margin: 200px 0 0;
  width: 300px; }
  @media (max-width: 768px) {
    .pagination-slider {
      margin: 200px 0 0; } }

.mobile-menu {
  position: absolute;
  top: 0;
  left: -700px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  padding: 2.3rem 1rem;
  width: 100%;
  opacity: 0; }
  .mobile-menu.open {
    opacity: 1;
    left: 0;
    transition: opacity .2s ease-in;
    position: fixed; }
  .mobile-menu ul {
    margin: 2rem 0;
    padding: 0 1rem; }
    .mobile-menu ul li {
      width: 100%;
      border-bottom: 1px solid rgba(112, 112, 112, 0.31); }
      .mobile-menu ul li a {
        color: #ffffff;
        display: block;
        padding: .6rem 0; }
        .mobile-menu ul li a.active, .mobile-menu ul li a:hover {
          color: #81B829; }
  .mobile-menu .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0; }
    .mobile-menu .social a {
      width: 50px;
      height: 50px;
      margin: 0 .6rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mobile-menu .social a img {
        height: 30px; }
      .mobile-menu .social a.fb img {
        height: 38px; }
      .mobile-menu .social a.ins img {
        height: 28px; }

.header-mobile-menu {
  display: flex;
  justify-content: space-between; }

.header-mobile-menu .buttons a {
  margin: 0 0 0 1rem; }

.logo-menu-nice {
  width: 140px;
  margin: 1rem auto; }
  .logo-menu-nice img {
    margin: 0 auto;
    display: block; }

.section-title {
  padding: 2rem 0; }
  .section-title h2 {
    color: #043E22;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    position: relative; }
    .section-title h2 span {
      display: inline; }
      .section-title h2 span:after {
        display: inline-block;
        content: "";
        width: 18px;
        height: 2px;
        background-color: #81B829;
        position: relative;
        top: 2px;
        left: 3px; }

.wrapper-accordion {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 4rem 0; }
  @media (max-width: 1440px) {
    .wrapper-accordion {
      max-width: 1300px;
      padding: 4rem 3rem; } }
  @media (max-width: 1366px) {
    .wrapper-accordion {
      max-width: 1200px;
      padding: 4rem 3rem; } }
  @media (max-width: 1024px) {
    .wrapper-accordion {
      padding: 4rem 0rem; } }
  @media (max-width: 768px) {
    .wrapper-accordion {
      padding: 2rem 0rem; } }

.accordion-header {
  border-bottom: 3px solid #000000;
  padding: 1rem 0; }
  @media (max-width: 768px) {
    .accordion-header {
      padding: 1rem 2rem; } }
  .accordion-header h3 {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: space-between; }

.accordion-body {
  padding: 2rem 0;
  display: none; }
  .accordion-body h3 {
    font-weight: 400;
    color: #043E22;
    font-size: 1.4rem; }
  .accordion-body .col {
    padding: 0 1rem; }
    @media (max-width: 768px) {
      .accordion-body .col {
        width: 100%;
        padding: 0 2rem; } }
  .accordion-body ul li {
    color: #707070;
    margin-bottom: 1rem;
    background-position: left 12px;
    background-image: url("../img/bullet.png");
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 20px; }

@media (max-width: 768px) {
  .col-image {
    display: none; } }

.wrapper-cols-accordion {
  display: flex;
  justify-content: space-between; }

.accordion-btn {
  font-size: 3rem;
  color: #81B829;
  line-height: 0; }
  .accordion-btn:hover {
    color: #043E22; }
  .accordion-btn.closed:after {
    content: "+"; }
  .accordion-btn.open:after {
    content: "-";
    font-size: 4rem;
    margin-right: 2px; }

#map {
  height: 694px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */ }

.wrapper-columns-footer {
  display: flex;
  justify-content: space-between; }
  .wrapper-columns-footer .column.form {
    width: 40%; }
    @media (max-width: 768px) {
      .wrapper-columns-footer .column.form {
        width: 100%; } }

.contact-block {
  background-image: url("../img/vertical_line.jpg");
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding: 0 0 0 4rem;
  margin: 2rem 0; }
  .contact-block h4 {
    color: #A5A5A5;
    margin: 0 0 .5rem 0;
    font-weight: 400; }
  .contact-block p {
    color: #ffffff;
    margin: 0 0 .3rem 0; }

.wrapper-contact-form h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 4rem; }
  .wrapper-contact-form h2:after {
    display: inline-block;
    content: "";
    width: 22px;
    height: 4px;
    background-color: #81B829;
    position: relative;
    top: 2px;
    left: 3px; }
  @media (max-width: 768px) {
    .wrapper-contact-form h2 {
      margin-bottom: 2rem; } }

.wrapper-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }
  .wrapper-inputs input,
  .wrapper-inputs select,
  .wrapper-inputs textarea {
    width: 100%;
    background: transparent;
    border: none;
    color: #686868;
    padding: .5rem 0;
    border-bottom: 2px solid #9B9B9B;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    resize: none; }
    .wrapper-inputs input:focus, .wrapper-inputs input::selection,
    .wrapper-inputs select:focus,
    .wrapper-inputs select::selection,
    .wrapper-inputs textarea:focus,
    .wrapper-inputs textarea::selection {
      outline: none !important; }
  .wrapper-inputs textarea {
    height: 44px;
    margin-top: 3rem; }
  .wrapper-inputs .half-input {
    width: 100%; }
    .wrapper-inputs .half-input:first-child {
      margin-right: 2rem; }

@media (max-width: 768px) {
  .wrapper-submit {
    text-align: center; } }

input[type="submit"] {
  background: none;
  border: none;
  color: #043E22;
  background-color: #81B829;
  padding: .8rem 3rem;
  border-radius: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
  position: relative;
  z-index: 1; }

.fade-ani {
  opacity: 0;
  position: relative; }

.fade-up {
  bottom: -50px; }

.fade-down {
  top: -50px; }

.fade-left {
  left: -50px; }

.fade-right {
  right: -50px; }

.fade-in.showing {
  opacity: 1; }

.fade-up.showing {
  bottom: 0px;
  opacity: 1; }

.fade-down.showing {
  top: -0px;
  opacity: 1; }

.fade-left.showing {
  left: -0px;
  opacity: 1; }

.fade-right.showing {
  right: -0px;
  opacity: 1; }

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 800; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.main-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1366px) {
    .main-container {
      max-width: 1200px; } }
  @media (max-width: 1024px) {
    .main-container {
      max-width: 900px; } }

.default-button {
  background: none;
  border: none;
  color: #043E22;
  background-color: #ffffff;
  padding: .8rem 3rem;
  border-radius: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
  position: relative;
  z-index: 1; }
  .default-button.dark {
    background-color: #393939;
    color: #ffffff;
    padding: .8rem 2rem; }

.nice-overlay {
  position: absolute;
  z-index: 1;
  right: -30px;
  top: 25%;
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 1680px) {
    .nice-overlay {
      top: 20%; } }
  @media (max-width: 768px) {
    .nice-overlay {
      top: 26%;
      right: -300px; } }
  .nice-overlay img {
    width: 100%; }
    @media (max-width: 1680px) {
      .nice-overlay img {
        width: 86%; } }
    @media (max-width: 1440px) {
      .nice-overlay img {
        width: 75%; } }
    @media (max-width: 1366px) {
      .nice-overlay img {
        width: 71%; } }
    @media (max-width: 768px) {
      .nice-overlay img {
        width: 94%; } }

@media (max-width: 800px) {
  .wrapper-swiper .slider-info-text {
    top: 100px;
    left: 30px; }
    .wrapper-swiper .slider-info-text h3 {
      font-size: 4rem; }

  .address,
  .divider {
    display: none; }

  .cover-image {
    height: 100vh; }

  .foot-main-image .social {
    display: none; } }
@media (orientation: landscape) {
  .navigation-module {
    display: none !important; } }
